.button {
  text-decoration: none;
  color: white;

  padding: 0.7rem 1rem;
  font-size: 1.5rem;
  border: 0.2rem solid var(--primary-color);
  border-radius: 1rem;

  background-color: transparent;
  transition: 0.2s;
}

.button:hover {
  background-color: var(--secondary-color);
  color: var(--dark-color);
}

@media (max-width: 430px) {
  .button {
    padding: 0.5rem 0.8rem;
    font-size: 1.2rem;
  }
}
